.project-cards {
  margin-bottom: 50px;
  width: 100%;
}

.project-text {
  line-height: 1.5;
  font-size: 18px;
  padding-top: 6px;
  color: #ffdab9;
}

.project-tech {
  color: lightskyblue;
}

.project-title {
  color: pink;
}

.project-gh {
color: salmon;
}